/* global styles */
:root {
    --main-color: #664228;
    --secondary-color: #946E4A;
    --accent-color: #7D5839;
}
* {
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    color: white;
    background-color: var(--main-color);
}



h1 {
    text-align: center;
    text-shadow: 3px 3px 10px #848484;
    padding: 1em;
    margin: 0.5em;
}
.library {
    display: grid;
    grid-template-rows: auto; /* default : auto */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5em;
    margin: 1.5em;
}
.card {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 1.5em;
    border: 5px solid var(--accent-color);
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.author {
    font-style: italic;
    margin-bottom: 1.0em;
}
.pageCount::after {
    content: " pages";
}
.read-options {
  text-align: left;
}
.removeButton {
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #a35454;
  padding: 5px 10px;
  border: 4px solid #6b3737;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-top: 1em;
}
.readButton {
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #545da3;
  padding: 5px 10px;
  border: 4px solid #44376b;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-top: 1em;
}






/* Modal */
#modalButton {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #54a378;
    padding: 15px 25px;
    border: 4px solid #376b4e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-bottom: 2em;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--accent-color);
  color: white;
  padding: 20px;
}
.modal-body {padding: 2px 16px;}





/* form */
form {
    color: black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
}
form > * { margin: 10px; }
input[type="submit"] { 
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    color: white;
    background-color: var(--secondary-color);
    padding: 7px;
    margin: 10px 0;
    border: 3px solid var(--main-color);
    border-radius: 7px;
}






/* Responsiveness */
/* Typically: min-width is mobile-first, max-width is desktop-first */
@media (max-width:801px)  { 
    .library { grid-template-columns: 1fr 1fr 1fr; }
}
@media (max-width:480px){ 
    .library { grid-template-columns: 1fr 1fr; }
}
